.img-generator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 60px);
    align-items: center;
    background-color: #b2bec3;
    .description {
        margin-bottom: 30px;
    }
    .generator-input {
        width: 400px;
        height: 32px;
        padding: 10px;
        margin-right: 10px;
    }
    .generator-btn {
        width: 100px;
        height: 32px;
        background-color: orange;
        border: none;
        border-radius: 10px;
    }
}
