.login-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .kakao-login-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(251, 229, 77);
        font-weight: 800;
        font-size: 18px;
        width: 441px;
        height: 54px;
        border-radius: 15.001px;
        cursor: pointer;
        img {
            margin-right: 7px;
        }
    }
}
