.nav-bar {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 60px;
    border-bottom: 1px solid #777;
    background-color: #dfe6e9;
    .nav-bar-container {
        width: 100%;
        max-width: 1200px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-side {
            display: flex;
            align-items: center;
            .logo {
                width: 210px;
                padding: 0px 20px;
            }
            div {
                padding: 20px;
            }
        }
    }
}
