@import 'mixin';

.result-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
    padding: 20px;
    .result-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;
        color: #fff;
        margin: 20px;
        font-size: 40px;
        .win-lose {
            margin-bottom: 20px;
            .title {
                font-size: 30px;
            }
        }
        .offense-avg {
            margin-bottom: 20px;
            margin-right: 3vw;
            .title {
                font-size: 30px;
            }
        }
        .defense-avg {
            margin-bottom: 20px;
            .title {
                font-size: 30px;
            }
        }
        .player-scores {
            display: flex;
            flex-direction: column;
            .title {
                font-size: 30px;
            }
            .player-score {
                .name {
                    margin-right: 10px;
                    font-size: 20px;
                }
                .points {
                    font-size: 20px;
                }
            }
        }
    }
    .fixed-area {
        display: flex;
        position: fixed;
        bottom: 0;
        padding: 10px;
        width: 100%;
        max-width: 1200px;
        .register-btn {
            @include btn-style;
            margin-right: 10px;
        }
        .back-btn {
            @include btn-style;
        }
    }
}
