.result-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    .result-wrap {
        display: flex;
        justify-content: center;
        margin-top: 27vh;
        width: 100%;
        max-width: 1200px;
        .team-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            .offense-avg {
                font-size: 30px;
                margin-bottom: 10px;
            }
            .name {
                margin-right: 10px;
                font-size: 20px;
            }
            .points {
                font-size: 20px;
            }
        }
    }
    .back-btn {
        margin: 30px;
        background-color: slateblue;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}
