.result-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
    .result-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;
        align-items: center;
        margin: 20px;
        .win-lose {
            font-size: 40px;
            background-color: orange;
            margin-bottom: 20px;
        }
        .score-avg {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            .offense-avg {
                font-size: 30px;
                margin-right: 3vw;
            }
            .defense-avg {
                font-size: 30px;
            }
        }
        .name {
            margin-right: 10px;
            font-size: 20px;
        }
        .points {
            font-size: 20px;
        }
    }
    .back-btn {
        margin: 30px;
        background-color: slateblue;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}
