.stat-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    .stats-wrap {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        max-width: 1200px;
        font-size: 12px;
        border-bottom: 1px solid black;
        margin-bottom: 30px;
        .column {
            .stat-name {
                padding: 10px;
                text-align: center;
            }
            .each-player {
                padding: 10px;
                text-align: center;
                border-top: 1px solid black;
                .btn {
                    padding: 5px;
                    border-radius: 5px;
                    cursor: pointer;
                }
                .team-btn {
                    background-color: orange;
                }
            }
        }
        .column.name {
            min-width: 170px;
        }
        .column.team {
            min-width: 100px;
        }
    }
    .team-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        .team-boxes {
            display: flex;
            width: 100%;
            justify-content: space-around;
        }
        .remove-btn {
            margin-left: 5px;
            background-color: cadetblue;
            border-radius: 3px;
            padding: 2px;
            cursor: pointer;
        }
        .team-box {
            width: 550px;
            height: 600px;
            border: 1px solid black;
            padding: 20px;
        }
        .title-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            .title {
                font-size: 20px;
            }
        }
        .submit-btn {
            margin: 30px;
            background-color: slateblue;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    .cost {
        background-color: #0984e3;
        border-radius: 10px;
        padding: 5px 10px;
        color: #fff;
    }
}
